@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap");

.card-block {
  padding-bottom: 10px;
}

.title-section {
  padding-bottom: 60px;
}

/* card */
.ant-card {
  color: #f4f5f7;
  background: #181818;
  border-radius: 4px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 500;
  color: #f4f5f7;
}

.plan-card {
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
}

.requirement-card {
  display: flex;
  justify-content: flex-end;
  margin: -1rem;
  opacity: 0.7;
  padding-right: -67px;
  padding-top: 42px;
}

.design-card {
  display: flex;
  justify-content: flex-end;
  padding-right: -8rem;
  margin-right: -40px;
  margin-top: 2.5rem;
  opacity: 0.7;
}

.design-card_layout {
  margin-top: -13.5rem;
}

.develop-card {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  opacity: 0.7;
  margin: 1rem;
}

.test-card {
  display: flex;
  justify-content: flex-end;
  margin: -50px;
  opacity: 0.7;
}

.learn-card {
  display: flex;
  justify-content: flex-end;
  margin: -4rem;
  opacity: 0.7;
}

.deploy-card {
  margin: -2.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  opacity: 0.5;
}

.maintain-card {
  padding-top: 42px;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
}

/* Hero */

.plan-hero {
  width: 100%;
  height: 250px;
}

.row2-card {
  margin: 26px 0px;
}

.row3-card {
  margin: 30px 0px;
}

.row4-card {
  margin-bottom: 60px;
}
/* font */

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.subtext-block {
  display: flex;
  justify-content: center;
}

.subtitle-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30em;
}

.process-title{
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 2px;
}
.processText-block {
  display: flex;
  justify-content: start;
}

.subProcess-text{
  text-align: left;
}

/* header */

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: #505f79;
  line-height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #f4f5f7;
}

/* sidebar */

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #ffffff;
}

.ant-menu-item-selected {
  color: #505f79;
}

.ant-menu-item:hover {
  color: #181818;
}
.ant-menu-inline {
  border-right: 1px solid #f4f5f7;
}
.ant-menu-item::after {
  border-right: 2px solid #181818;
}

/* layout */

.ant-layout {
  background: #ffffff;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: visible;
  height: 90vh;
  justify-content: center;
  padding: 10px;
}

.backcolor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d84a1b;
  border-radius: 4px;
  height: 40vh;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 28px;
  margin: 2px -14px;
  color: #181818;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.nav-items {
  margin-left: 120px;
}

.font-design {
  padding-top: 2rem;
  font-family: "Share Tech", sans-serif;
  font-size: 36px;
}

.resource-list {
  display: flex;
}

.resource-list-card {
  padding-top: 2em;
}

/* Breakpoint for tablet / desktop devices */

@media only screen and (min-width: 1126px) {
  .mobile {
    display: none;
  }
}

/* Breakpoint for mobile devices */

@media only screen and (max-width: 1125px) {
  .desktop {
    display: none;
    height: 100%;
  }

  .body {
    margin: 0;
  }
  .mobile {
    background: #fffb8f;
    overflow-x: unset;
  }

  .ant-layout-sider-zero-width-trigger {
    background: #ffffff;
  }

  .title-text {
    font-size: 42px;
    text-align: left;
  }
}
